// EscherConverter

doctype html
html(lang='en')
  head
    title EscherConverter
    include ./partials/head.jade

  body
    #container
      #header.flex.two
        #logo-container.flex
          img(src='escher-logo_128.png')
          h3 EscherConverter
        #request-no-container
          h6 Conversion Number:
          .flex.three.input-container
            input(id='conversion-number-input', class='', name='conversion-number-input',
            type='number', pattern='\d*', placeholder='enter id...')
            button.tooltip-top#conversion-number-button(name='conversion-number-button',
            data-tooltip='Submit/Search Id')
              span.icono-search
            button.tooltip-top#conversion-number-new(name='conversion-number-new',
            data-tooltip='Create new job')
              span.icono-plus
            button.tooltip-top#conversion-status-refresh(name='conversion-status-refresh',
            data-tooltip='Refresh Status')
              span.icono-sync
          span#conversion-status-span.label Status
      hr
      #content.flex.four
        #files.three-fourth.card
          #file-header.flex.twelve
            .sixth.flex.one(style='display:inline-block')
              div.half(style='display:inline')
                button(type='button', id='file-select-all', name='file-select-all')
              h5.half.file-number #
            h5.fourth.file-name Filename
            h5.sixth.file-format Format
            h5.sixth.file-status Status
            h5.sixth.file-download Download
        #options.card
          #settings.one-fourth
            h4 Settings
            #auto-upload-container.flex.two
              p.three-fourth Auto-upload
              label.switch.one-fourth
                input(type='checkbox')
                .slider.round
          hr
          button(id='add-file-button', name='add-file-button') Add file
          button(id='start-upload-button', name='start-upload-button') Start
          button(id='download-log-file', name='download-log-file', disabled=true) Log
        #log
          h4 Output
          pre#conversion-log(hidden=true)

        

    script(type='text/javascript', src='js/libraries.js')
    script(type='text/javascript', src='js/app.js')
    script.
      var app = require('app');
      app.init();


